In [ ]:
#write a program which will find all such numbers which are divisible by 7 but are not a multidple of 5, between 2000 and 3200(both include).
#the numbers obtained  should be printed in acomma-separated sequence on a single line

for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    print(i,end=" , ")

    #l=[]
    #for i in rage(2000,3201):
    #if i%7==0 and i%5!=0:
    #i.append(str(i))
    #print(','.join(l))

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

In [ ]:
#with a given integral number n,write a programe to generate a dictionary that contains(i,i*i)such that is an integral number between 1 and n (both included).
#and then the programe should print  dictionary

d={}
n=int(input("enter a namber"))
for i in range(1,n+1):
  d[i]=i*i
print(d)

enter a namber5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#write a programe which can compute the factorial of a given numbers.
#the result should be printed in a comma-separated sequence on a single line.

def factorial():
  n=int(input("enter a number"))
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  print(fact)  
factorial()

enter a number8
40320

# write a programe which accept a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [ ]:
values=(input("enter numbers:"))
l=values.split(",")
t=tuple(l)
print(t)
print(l)

enter numbers:44,77,88,76
('44', '77', '88', '76')
['44', '77', '88', '76']

# write a programe that accepts a sentance and calculate the number of upper case and lower case letter.

In [ ]:
a=input("enter a sentance")
count1=0
count2=0
for i in a:
  if(i.islower()):
    count1=count1+1
  elif(i.isupper()):
    count2=count2+1
print("lowercase is:",count1)
print("uppercase is:",count2)

enter a sentanceSahla
lowercase is: 4
uppercase is: 1

# write a programe that compute the net amount of a bank account based a transaction log from console input.the transaction log format is shown as following
d 100
w 200
d-deposit
w-withdrawal

In [ ]:
balance=0
while True:
  t=input()
  if t==  "":
    break
  else:
    t=t.split(" ")
    if t[0]== "D" and int(t[1])>=100:
      balance += int(t[1])
    elif t[0]== "W" and int(t[1])>=200:
      balance -= int(t[1])
print("balance :",balance)

D 500
D 200
W 300

balance : 400

In [ ]:
netamount=0
while True:
  s=input("num")
  if not s:
    break
  values=s.split(" ")
  operation=values[0]
  amout=int(values[1])
  if operation=="D":
    netamount+=amount
  elif operation=="W":
    netamount-=amount
  else:
    pass
print(netamount)

In [ ]:
l=[]
n=int(input("enter a number"))
for i in range(1,n+1):
  l[i]=i
print(l)

In [ ]:
values=input("enter numbers:")
for i in range(1,values+1):
   l=values.split(",")
   i+=1
print(l)

Define a function that can accept two string as input and print the string with maximum length in console.if two strings have the same length,then the function should print all string line by line

In [ ]:
def max():
  a=input("enter a string")
  b=input("enter string2")
  if len(a)>len(b):
     print(a)
  elif len(a)==len(b):
     print(a)
     print(b)  
  else:
     print(b)
max()

enter a stringsana
enter string2sahlaaa
sahlaaa

In [ ]:
def string(s1,s2):
  len1=len(s1)
  len2=len(s2)
  if len(s1)>len(s2):
    print(s1)
  elif len(s1)<len(s2):
    print(s2)
  else:
    print(s1)
    print(s2)
string("five","two")

five

Define a function which can print a dictionary where the keys are numbers between 1 and 20(both included) and the values are squre of keys

In [ ]:
def dic():
  d={}
  for i in range(1,21):
    d[i]=i*i
  print(d)
dic()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Define a function which can generate a list where the values are  squre of numbers between 1 and 20(botn included).then the function need to print the last 5 elements in the list

In [ ]:
def sqr():
  l=[]
  for i in range(1,21):
    l.append(i*i)
  print(l[-5:])  
sqr()

[256, 289, 324, 361, 400]

with a given tuple (1,2,3,4,5,6,7,8,9,10),write a programe to print the first half values in one line and the last half values in another line

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10)
print(a[:5])
print(a[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

write a programe which accepts a string as input to print "Yes"if the string is "yes" or"YES"or"yes",otherwise print "NO"

In [ ]:
a=input("enter string :")
if a=="YES"or a=="yes"or a=="Yes":
  print("Yes")
else:
  print("NO")

enter string :YES
Yes

write a programe which can filter even numbers in the list by using filter function.the list is:[1,2,3,4,5,6,7,8,9,10].

In [ ]:

l=[1,2,3,4,5,6,7,8,9,10]
result = filter(lambda x: x % 2 == 0, l)
print(list(result))

[2, 4, 6, 8, 10]

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
def is_even(x):
  return x % 2==0
list2=list(filter(is_even,list1))
print(list2)

[2, 4, 6, 8, 10]

please write a program to generate all sentences where subject is in ["I","YOU"] and verb is in ["play","Love"]and the object is in ["Hockey","Football"].

In [ ]:
sub=["I","YOU"]
verb=["Play","Love"]
obj=["Hockey","Football"]
for i in sub:
  for j in verb:
    for k in obj:
       print(i+" "+j+" "+k)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
YOU Play Hockey
YOU Play Football
YOU Love Hockey
YOU Love Football