In [ ]:
a=100
b=50
if a>b:
  print("hello")
else:
  print("hi")

hello

In [ ]:
a=55
b=55
if a>b:
  print("hello")
elif a<b:
  print("hi")
else:
  print("how are you")

how are you
how are you

In [ ]:
a=20
b=50
c=70
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

c is greater

In [ ]:
i=0
while(i<10):
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
while(i<8): 
  i+=1
  if i==3:
   break
  print(i)

1
2

In [ ]:
i=0
while(i<8):
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8

In [ ]:
for i in range(100,50,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55

In [ ]:
for i in range(10,50,5):
  print(i)

10
15
20
25
30
35
40
45

In [ ]:
list=["apple","banana","cherry"]
for i in list:
  print(i)

apple
banana
cherry

In [ ]:
list=[19,19,5,5,5]
if list.count(19)==2and list.count(5)==3:
  print("true")
else:
  print("false")

true

In [ ]:
list=[19,19,19,5,5,5,5]
if list.count(19)==2and list.count(5)==3:
  print("true")
else:
  print("false")

false

In [ ]:
for i in range(1,50,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
a=[]
b=int(input("enter a number"))
for i in range(1,b,2):
  a.append(i)
print(a)

enter a number20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
a=[]
for i in range(12,101):
   if i%12==0:
     a.append(i)
print(a) 
b=[]
for j in a:
  if j%14==0:
    b.append(j)
print(b)

[12, 24, 36, 48, 60, 72, 84, 96]
[84]

In [ ]:
a=[]
b=[]
for i in range(1,101):
  if i%2!=0:
    a.append(i)
  else:
    b.append(i)
print(a)
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
a=["anu","sanu","sahla"]
b=["a12","b12","c12"]
name=input("enter your username")
if name in a:
  ind=a.index(name)
  password=input("enter your password")
  if password in b and ind==b.index(password):
  
    print("welcome")
  else:
   print("invalid password")  
else:
     print("incorrect username")

enter your usernameanu
enter your passworda12
welcome
enter your usernamesanu
enter your passwordc12
invalid password

In [ ]:
num=int(input("enter a number"))
for i in range(2,num):
    if num%i==0:
     print("num is  not prime")
     break
    else:
     print("num is prime")
     break

enter a number5
num is prime

In [ ]:
a=int(input("enter tem in celcius"))
farren=a*(9/5)+32
print(a,farren)

enter tem in celcius32
32 89.6

In [ ]:
a=input("enter a string")

if a==a[::-1]:
  print("pallindrome")
else:
   print("not palindrome")

enter a stringmalayalam
pallindrome

In [ ]:
a=input("enter a string")
if a[0]=="p":
  print("welcome")
else:
    print("no entry")

enter a stringsahla
no entry

In [ ]:
a=input("enter a string")
if a.startswith("p"):
  print("welcome")
else:
    print("no entry")

enter a stringpara
welcome

In [ ]:
a=input("enter a paragraph")
b=("a","e","i","o","u","A","E","I","O","U")
count=0
for i in a:
  if i in b:
    count=count+1
    if count!=0:
      print(count)